body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(26, 71, 56);
}
criarCobra{
    border-radius: 50%;
}